body.darkMode {
    color: #9da9bb;
    background-color: #292929 !important;
  }
  
  .darkMode .sidebarMini {
    background-color: #292929;
    color: #fff;
    border-left-color: #292929;
  }
  
  .darkMode .sidebarMini .sidebarMini__button {
    background-color: #292929;
    border-color: #292929;
    color: #fff;
  }
  .darkMode .needToKnow{
    background-color: #292929;
  }
  .darkMode .rightside_content::before,
  .darkMode .right_side::after{
    content: "";
    background-color: #292929;
  }
  .darkMode .right_side_content_text{
    color: #fff;
  }
  .darkMode .flipdown.flipdown__theme-dark .rotor-group:nth-child(n+2):nth-child(-n+3):before,
  .darkMode .flipdown.flipdown__theme-dark .rotor-group:nth-child(n+2):nth-child(-n+3):after {
    background-color: white;
  }
  .darkMode .tour-left__top h1{
    color: #fff;
  }
  .darkMode .flipdown.flipdown__theme-dark .rotor-group-heading::before{
    color: #fff;
  }
  .darkMode .destinnation__title h1{
    color: white;
  }
  .darkMode .destinnation__title p{
    color: #fff;
  }
  .darkMode .tourGuide__Title h2{
    color: white;
  }
  .darkMode h1,
  .darkMode p,
  .darkMode .help h5,
  .darkMode .help h1,
  .darkMode .tourGuide__border p,
  .darkMode .tourGuide__border h3,
  .darkMode .tourGuide__border h2{
    color: #fff;
  }