body.darkMode {
    color: #9da9bb;
    background-color: #292929 !important;
  }
  
  .darkMode .sidebarMini {
    background-color: #292929;
    color: #fff;
    border-left-color: #292929;
  }
  
  .darkMode .sidebarMini .sidebarMini__button {
    background-color: #292929;
    border-color: #292929;
    color: #fff;
  }
  .darkMode .needToKnow{
    background-color: #292929;
  }
  .darkMode .rightside_content::before,
  .darkMode .right_side::after{
    content: "";
    background-color: #292929;
  }
  .darkMode .flipdown.flipdown__theme-dark .rotor-group:nth-child(n+2):nth-child(-n+3):before,
  .darkMode .flipdown.flipdown__theme-dark .rotor-group:nth-child(n+2):nth-child(-n+3):after {
    background-color: white;
  }
  .darkMode .right_side_content_text,
  .darkMode .tour-left__top h1,
  .darkMode .flipdown.flipdown__theme-dark .rotor-group-heading::before,
  .darkMode .destinnation__title h1,
  .darkMode .destinnation__title p,
  .darkMode .tourGuide__Title h2,
  .darkMode .contact_header h1,
  .darkMode .testimonials--title p,
  .darkMode .help h5,
  .darkMode .help h1,
  .darkMode .right_side_content_title,
  .darkMode .tourGuide__border p,
  .darkMode .tourGuide__border h3,
  .darkMode .tourGuide__border h2{
    color: #fff;
  }
  .darkMode .contact_body,
  .darkMode .testimonials_body--name,
  .darkMode .testimonials_body--comment p{
    color: black;
  }