/* Global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sectionX20{
    margin: 0 20px;
}
.sectionY20{
    margin: 20px 0;
}
.sectionX10{
    margin: 0 10px;
}
.sectionY10{
    margin: 10px 0;
}
/* Header */

/* NeedToKnow */

/* Tour */

/* Destination */

/* Tour-Guide */

/* ExperienceLive */

/* Help */

/* Contact */

/* Footer */